.header__wrapper {
  display: flex;

  padding-top: 65px;
  padding-bottom: 23px;
}

.header__name {
  p {
	 font-size: 47px;
	 font-weight: bold;
	 text-transform: capitalize;
	 line-height: 58px;
  }
}

.header__menu {
  flex-grow: 1;
}

.header__descript {
  margin-bottom: 37px;
}

