.intro__inner {
  padding-bottom: 83px;
}

.intro__image {
  margin-top: 36px;
}

@media(min-width: 620px) {
  .intro__inner {
    display: grid;
    grid-gap: 20px;

    grid-template-areas: "image text";

  }

  .intro__image {
    grid-area: image;
    margin-top: 0;

    width: 280px;

    border-radius: 50%;
    overflow: hidden;
  }

  .intro__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 25px;
    line-height: 30px;
    text-align: right;
  }
}

@media(min-width: 768px) {
  .intro__text {
    justify-content: center;

    font-size: 30px;
    line-height: 40px;
    text-align: right;
  }
}

@media(min-width: 920px) {
  .intro__text {
    justify-content: center;

    line-height: 40px;
    text-align: right;
  }
}

@media(min-width: 1024px) {
  .intro__text {
    font-size: 35px;
    line-height: 50px;
  }
}

