.page__body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  color: $basic-text;
  line-height: 24px;
  font-family: "gilroy", "Arial", snas-serif;
  font-size: 16px;
  font-weight: normal;
}

*:focus {
  outline: 1px dashed $basic-hyper-link;
  outline-offset: 5px;
}


a {
  display: block;
  text-decoration: none;

  transition-duration: 0.3s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ol,
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

button {
  padding: 0;
  border: none;

  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: none;

  clip: rect(0, 0, 0, 0);
}

.hidden {
  display: none;
}
